/**
 * @file ImageComponent.styles.css
 * @module Styles/ImageComponent
 * @desc Contains custom styles for shimmer loading effects used in image components.
 *       Includes a diagonal animated shimmer overlay and color theming integration.
 *
 * @features
 * - Shimmer animation using a rotated gradient
 * - Uses custom `--color-shimmer` based on Tailwind theme color
 * - Designed to work with blurred image placeholders or loading skeletons
 *
 * @see {@link https://tailwindcss.com/docs/customizing-colors | Tailwind Custom Theme Docs}
 * @see {@link https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes | CSS Keyframes}
 * 
 * @author Chace Nielson
 * @created May 23, 2025
 * @updated May 23, 2025
 */

@import "tailwindcss";

@keyframes shimmer {
  0% {
    transform: translateX(-100%) rotateZ(15deg);
  }
  100% {
    transform: translateX(100%) rotateZ(15deg);
  }
}

@theme {
  --color-shimmer: --alpha(var(--color-secondary-alt) / 50%)
}

.shimmer-overlay {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 35%,
    var(--color-shimmer) 50%,
    rgba(255, 255, 255, 0) 65%
  );
  position: absolute;
  top: -25%; /* expand to accommodate rotation */
  left: -25%;
  height: 150%;
  width: 150%;
  filter: blur(12px);
  animation: shimmer 2s infinite;
  transform: translateX(-100%) rotateZ(15deg);
  pointer-events: none;
}
