/* Effects styles for the particle */
.particle {
  position: absolute;
  border-radius: 9999px;
  pointer-events: none;
  z-index: 9999;
  background: var(--particle-color, #ccc); /* fallback */
  animation: particle-float var(--particle-duration, 300ms) ease-out forwards;
  --x: 0px;
  --y: 0px;
}

@keyframes particle-float {
  0% { transform: translate(0, 0); opacity: var(--particle-opacity, 1); }
  100% { transform: translate(var(--x), var(--y)); opacity: 0; }
}


/* Forthe background flash effect */
.bg-flash-overlay {
  will-change: opacity;
}

@keyframes flash-fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}