/* import tailwind */
@import "tailwindcss";

@theme{
  --ripple-color: var(--color-primary);
}

.ripple-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--ripple-color);
  border-radius: 9999px;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
}

.group:hover .ripple-hover {
  animation: ripple-hover 0.8s ease-out forwards;
}

@keyframes ripple-hover {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
