/**

*/

/* No Scroll bar */
html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* No scroll for individual elements - use on a single overflow component you don't want to overflow */
.scroll-element {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}

.scroll-element::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}