/**
 * @file Hero.css
 * @module HeroStyles
 * @desc Contains the styles for the Hero component.
 * This file uses Tailwind CSS classes with additional customization for specific elements.
 *
 * @see {@link https://tailwindcss.com/docs/installation | Tailwind CSS Documentation}
 * 
 * @example
 * // Example usage of CSS classes in the Hero component
 * <div className="hero">
 *   <HeroText />
 *   <ParallaxMountains />
 *   <ScrollWheel />
 *   <HeroImg />
 * </div>
 *
 * @created 2024-07-28
 * @updated Jan 23, 2024
 */
/* 
.hero {
  @apply min-h-section-height relative w-full 
         flex flex-col items-center justify-center
         lg:grid grid-cols-2 mx-auto container h-fit
         overflow-visible; 
}

.hero-img-wrapper {
  @apply hidden lg:block 
  lg:bottom-0 lg:right-0  lg:h-full lg:absolute lg:w-auto;
}

.text-container {
  @apply z-20 p-2 w-full
  mix-blend-difference;
}


.text-container > div {
  @apply flex flex-col z-10 p-2;
}

.text-buttons {
  @apply grid grid-cols-1 gap-2 
  lg:flex flex-wrap justify-center lg:justify-start
  text-sm md:text-base 
  z-50;
} */
