/* 
Modal.styles.css

simple css for the modal component height and width and overflow
*/


.modal-container {
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 40%;
  max-height: 85%;
  min-width: 40%;
  max-width: 85%;
}

